.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
node_modules
__pycache__/
*.py[cod]
*$py.class
test.py

node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store